.species-creation-grid {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  margin-bottom: px;
  grid-auto-rows: auto;

  align-items: center;
  margin: auto;
}

.species-image {
  grid-column: 3 / 7;
  grid-row: 1 / 8;
  min-height: 80vh;

  padding: 25px;
}

.character-legs-left {
  grid-column: 2 / 3;
  grid-row: 4 / 8;
  min-height: 2vh;

  padding: 25px;
}
.character-legs-right {
  grid-column: 7 / 8;
  grid-row: 4 / 8;
  min-height: 2vh;

  padding: 25px;
}

.character-body-left {
  grid-column: 2 / 3;
  grid-row: 2 / 6;
  min-height: 2vh;
  padding: 25px;
}
.character-body-right {
  grid-column: 7 / 8;
  grid-row: 2 / 6;
  min-height: 2vh;

  padding: 25px;
}

.left-arrow {
  max-width: 100%;
}

.right-arrow {
  max-width: 100%;
}

.character-head-left {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  min-height: 2vh;

  padding: 25px;
}
.character-head-right {
  grid-column: 7 / 8;
  grid-row: 1 / 3;
  min-height: 2vh;

  padding: 25px;
}

.image-container {
  grid-column: 3 / 7;
  grid-row: 1 / 8;

  margin-top: 25px;
  .head {
    margin-left: -15%;
    position: absolute;
  }

  .body {
    margin-left: -15%;
    position: absolute;
  }

  .legs {
    margin-left: -15%;
    position: absolute;
  }
}

.namebox {
  grid-column: 3 / 7;
  grid-row: 9;

  label {
    font-size: x-large;
    padding: 25px;
  }

  input, textarea{
    display: block;
    width: 100%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    border: solid;
    border-radius: 5px;
    font-size: 20px;
  }
}

.interact-box {
  grid-column: 8 / 11;
  grid-row: 9;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  width: 325px;

  .save {
    min-height: 5vh;
    min-width: 150px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    background-color: whitesmoke;
  }
  .save:hover {
    background-color: #732A19;
    h2 {
      color: white;
    }
  }
  
  .save:active {
    background-color: #8B3F2D;
    color: white;
  }
}