.species-creation-grid {
  background-color: #FFFFFF;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  margin-bottom: px;
  grid-auto-rows: auto;

  align-items: center;
  margin: auto;
}

.species-image {
  grid-column: 3 / 7;
  grid-row: 1 / 8;
  min-height: 80vh;

  padding: 25px;
}

.character-head-left {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  min-height: 2vh;

  padding: 25px;
}
.character-head-right {
  grid-column: 7 / 8;
  grid-row: 2 / 3;
  min-height: 2vh;

  padding: 25px;
}

.character-ear-left {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  min-height: 2vh;

  padding: 25px;
}
.character-ear-right {
  grid-column: 7 / 8;
  grid-row: 3 / 4;
  min-height: 2vh;

  padding: 25px;
}

.character-mouth-left {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  min-height: 2vh;

  padding: 25px;
}
.character-mouth-right {
  grid-column: 7 / 8;
  grid-row: 4 / 5;
  min-height: 2vh;

  padding: 25px;
}

.character-body-left {
  grid-column: 2 / 3;
  grid-row: 5 / 6;
  min-height: 2vh;
  padding: 25px;
}
.character-body-right {
  grid-column: 7 / 8;
  grid-row: 5 / 6;
  min-height: 2vh;

  padding: 25px;
}

.character-legs-left {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  min-height: 2vh;

  padding: 25px;
}
.character-legs-right {
  grid-column: 7 / 8;
  grid-row: 6 / 7;
  min-height: 2vh;

  padding: 25px;
}

.left-arrow {
  max-width: 100%;
}

.right-arrow {
  max-width: 100%;
}

.image-container {
  background-color: #8B3F2D;
  grid-column: 3 / 7;
  grid-row: 1 / 8;

  margin-top: 25px;
  .head {
    margin-left: -31%;
    position: absolute;
  }

  .body {
    margin-left: -31.3%;
    position: absolute;
  }

  .legs {
    margin-left: -31.3%;
    position: absolute;
  }

  .ear {
    margin-left: -31.3%;
    position: absolute;
  }

  .mouth {
    margin-left: -31.3%;
    position: absolute;
  }
}

.namebox {
  grid-column: 3 / 7;
  grid-row: 9;

  label {
    font-size: x-large;
    padding: 25px;
  }

  input, textarea{
    display: block;
    width: 100%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    border: solid;
    border-radius: 5px;
    font-size: 20px;
  }
}