.buch-screen {
    height: 100vh;
    overflow-x: hidden;
    position: relative;
  
    .buch-grid-wrapper {
      background-color: #FFFFFF;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      gap: 10px;
      margin-bottom: 50px;
      grid-auto-rows: auto;
    }
  
    .italic {
      font-style: italic;
    }
  
    h2 {
      border-bottom: solid;
      width: fit-content;
      margin: auto;
      font-family: 'Sora';
      letter-spacing: 0.5px;
    }
  
    p {
      font-family: 'Roboto';
      letter-spacing: 0.5px;
      line-height: 26px;
    }
  
    .header {
      grid-column: span 8;
      grid-row: 1;
  
      h1 {
        margin-top: 50px;
      }
  
      h3 {
        font-style: italic;
      }
  
      .image-container {
        img {
          max-width: 500px;
        }
  
        p {
          font-style: italic;
          font-size: 10px;
        }
      }
    }
  
    .back-button-container {
      position: absolute;
      grid-row: 1;
      margin-left: 50px;
      margin-top: 50px;
    }
  
    .introduction {
      grid-column: 1 / 6;
      grid-row: 2;
      margin-bottom: 40px;
      background-color: #543034;
      color: #FFFFFF;
      border-radius: 5px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
      margin-left: 50px;
      padding: 15px;
  
      .text-container {
        margin: auto;
        p {
          display: inline;
        }
      }
  
    }
  
    .habitat-pic {
      grid-column: 1 / 5;
      grid-row: 3;
  
      img {
        width: 400px;
      }
    }
  
    .habitat {
      grid-column: 5 / 9;
      grid-row: 3;
      background-color: #B8E6F3;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
      border-radius: 5px;
      margin-right: 50px;
      padding: 15px;
      margin-bottom: 25px;
  
      .text-container {
        p {
          text-align: left;
        }
      }
    }
  
    .food-web {
      grid-column: 3 / 7;
      grid-row: 4;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
      padding: 15px;
      border-radius: 5px;
      margin-bottom: 25px;
      background-color: #DE871D;
  
  
      .text-container {
        p {
          display: inline;
        }
      }
    }
  
    .beaks {
      grid-column: 1 / 4;
      grid-row: 5;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
      padding: 15px;
      border-radius: 5px;
      margin-bottom: 25px;
      background-color: #B9BD00;
      margin-left: 50px;
    }
  
    .beaks-images {
      grid-column: 4 / 9;
      grid-row: 5;
      flex-direction: column;
      .beaks-image1 {
        img {
          width: 700px;
        }
      }
      .beaks-image2 {
        img {
          width: 400px;
        }
      }
    }
  
    .flight {
      grid-column: 1 / 9;
      grid-row: 6;
  
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      grid-auto-rows: auto;
      margin-right: 50px;
  
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
      padding: 15px;
      border-radius: 5px;
      margin-bottom: 25px;
      background-color: #FDDF90;
      margin-left: 50px;
  
      .flight-text {
        grid-column: 2 / 4;
        grid-row: 1;
      }
  
      img {
        grid-column: 1 / 2;
        grid-row: 1;
      }
    }
  
    .coevolution {
      grid-column: 5 / 9;
      grid-row: 7;
      margin-right: 50px;
  
      text-align: left;
    }
  
    .coevolution-photo {
      grid-column: 1 / 5;
      grid-row: 7;
      margin-left: 25px;
  
      img {
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
      }
  
      p {
        font-style: italic;
        font-size: 12px;
      }
    }

  }