.simulation-screen {
  height: fit-content;
  overflow-x: hidden;
  position: relative;

  .back-button-container {
    position: absolute;
    grid-row: 1;
    margin-left: 50px;
    margin-top: 50px;
  }

  .species-creator {
    width: 80vw;
    height: 100vh;
    margin: auto;
  }

  .left-info {
    flex-direction: column;
    position: absolute;
    top: 20vh;
    .infobox-head {
      border: solid;
      height: fit-content;
      width: 18vw;
      margin-left: 10px;
      margin-bottom: 15px;
    }
    .infobox-leg {
      border: solid;
      height: fit-content;
      width: 18vw;
      margin-left: 10px;
      margin-bottom: 15px;
    }
    .infobox-mouth {
      border: solid;
      height: fit-content;
      width: 18vw;
      margin-left: 10px;
      margin-bottom: 15px;
    }
  }
  .right-info {
    position: absolute;
    top: 30vh;
    right: 1vw;
    flex-direction: column;
    .infobox-body {
      border: solid;
      height: fit-content;
      width: 18vw;
      margin-left: 10px;
      margin-bottom: 15px;
    }
    .infobox-ear {
      border: solid;
      height: fit-content;
      width: 18vw;
      margin-left: 10px;
      margin-bottom: 15px;
    }
  }

  .load-species {
    position: absolute;
    height: fit-content;
    width: 18vw;
    top: 15%;
    right: 20px;
    .load {
      height: 50px;
      border: solid;
      .header {
        line-height: 50px;
        text-align: center;
        margin-top: -4px;
      }
    }
  }
  .interact-box {
    position: absolute;
    right: 2vw;
    flex-direction: row;
    justify-content: space-between;
    width: 325px;
    height: fit-content;
    bottom: -10vh;
  
    .save {
      min-height: 5vh;
      min-width: 150px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
      border-radius: 5px;
      background-color: whitesmoke;
    }
    .save:hover {
      background-color: #732A19;
      h2 {
        color: white;
      }
    }
    
    .save:active {
      background-color: #8B3F2D;
      color: white;
    }
  }
}