.simulation-screen {
  height: fit-content;
  overflow-x: hidden;
  position: relative;
  flex-direction: column;

  .back-button-container {
    position: absolute;
    grid-row: 1;
    margin-left: 50px;
    margin-top: 50px;
  }

  .creator-content {
    display: flex;
    flex-direction: row;
    margin-top: 15vh;
    .species-creator {
      width: 80%;
      margin: auto;
    }

    .bold {
      font-weight: bold;
      font-size: large;
    }

    .left-info {
      flex-direction: column;
      // position: absolute;
      top: 20vh;
      .infobox-head {
        border: solid;
        height: fit-content;
        width: 18vw;
        margin-left: 10px;
        margin-bottom: 15px;
      }
      .infobox-leg {
        border: solid;
        height: fit-content;
        width: 18vw;
        margin-left: 10px;
        margin-bottom: 15px;
      }
      .infobox-mouth {
        border: solid;
        height: fit-content;
        width: 18vw;
        margin-left: 10px;
        margin-bottom: 15px;
      }
    }
    .right-info {
      // position: absolute;
      top: 30vh;
      right: 1vw;
      flex-direction: column;
      .infobox-body {
        border: solid;
        height: fit-content;
        width: 18vw;
        // margin-left: 10px;
        margin-bottom: 15px;
      }
      .infobox-ear {
        border: solid;
        height: fit-content;
        width: 18vw;
        margin-left: 10px;
        margin-bottom: 15px;
      }

      .load-species {
        // position: absolute;
        height: fit-content;
        width: 18vw;
        margin-bottom: 20px;
        .load {
          height: 50px;
          border: solid;
          .header {
            line-height: 50px;
            text-align: center;
            margin-top: -4px;
          }
        }
      }
      .interact-box {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 18vw;
        height: fit-content;
      
        .save {
          padding-left: 15px;
          padding-right: 15px;
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
          border-radius: 5px;
          background-color: whitesmoke;
        }
        .save:hover {
          background-color: #732A19;
          h2 {
            color: white;
          }
        }
        
        .save:active {
          background-color: #8B3F2D;
          color: white;
        }
      }
    }
  }
}